.btn-group button {
    background-color: #4c7faf; /* Green background */
    border: 1px solid rgb(0, 102, 128); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e778e;
}



/* 底部样式 */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
/* 移除 */
  .hidden {display:none;}